
    <div class="field has-addons">
        <div class="control">
            <input id="searchInput" class="input is-success" autofocus name="q" value="<%=q%>"
                type="text" placeholder="Find a repository">
            <input id="url" type="hidden" value="<%=url%>" />
        </div>
    </div>
