<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./ui/head.ejs') %>
</head>

<body>

    <%- include('./ui/navbar.ejs') %>
        <div class="page-title-nation">
            <div>
                <h1>Dashboard</h1>


            </div>
        </div>
        <div style="display: flex; justify-content: center; align-items: center; flex-direction: column; margin: 16px;">
            <img src="https://cdn.sforum.vn/sforum/wp-content/uploads/2022/04/p2.jpg" height="500" width="500">
            <h1 style="font-size: 100px;">Cho Em Xin 10 điểm !!</h1>
        </div>
</body>

</html>