<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./ui/head.ejs') %>
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
</head>

<body>
  <%- include('./component/background.ejs') %>

    <div class="hero is-fullheight">
      <div class="hero-body is-justify-content-center is-align-items-center">
        <div class="columns is-flex is-flex-direction-column box"
          style="background: rgba(0,0,0,0.53)!important; color: white;">
          <%- include('./component/logo.ejs') %>


            <div class="column">

              <div class="error">

              </div>
              <% if (errorMessage.length> 0) { %>
                <div class="column">

                  <div class="notification is-danger">
                    <%= errorMessage %>

                  </div>
                </div>

                <% } %>
                  <p>Strategy</p>

                  <select id="strategy" class="input is-primary" style="color: black;">
                    <option value="email" selected="selected">Email</option>
                    <option value="phone">Phone</option>
                  </select>
            </div>

            <form id="myForm" action="/auth/forgot-password/send-otp" method="post">

              <div id="input-auth" class="column">
                <label for="password">Email</label>
                <input id="email" class="input is-primary" required name="email" type="email" placeholder="Enter Email">
              </div>
              <div class="column">
                <button id="sendOTP" class="button is-primary is-fullwidth my-3" type="submit">Send</button>
              </div>
            </form>

        </div>
      </div>
    </div>


    <script>
      $(document).ready(function () {
        // create a new button element
        var strategy = $('#strategy')
        $('#sendOTP').prop("disabled", true);

        function onChangeEmail() {
          $('input[name="email"]').on('keyup', () => {
            const email = $('#email').val();
            if (!email.includes('@')) {
              $('.error').html('Invalid Email').addClass('notification is-danger')
              $('#sendOTP').prop("disabled", true);
            }
            else {
              $('.error').html('').removeClass('notification is-danger')
              $('#sendOTP').prop("disabled", false);

            }
          })
        }
        onChangeEmail()

        strategy.change(function () {
          var selectedValue = $(this).val();
          const notify = $('.error')
          console.log(selectedValue);
          notify.html('').removeClass('notification is-danger')
          $('#sendOTP').prop("disabled", true);

          if (selectedValue === "email") {
            $("#input-auth").html(
              ` <label for="email">Email</label>
                    <input id='email' class="input is-primary" required name="email" type="email" placeholder="Enter Email">`
            )
            onChangeEmail()
          } else {
            $("#input-auth").html(
              ` <label for="phone">Phone</label>
              <input id='phone' class="input is-primary" placeholder="Enter Phone" name="phone" required title="Please enter valid phone number ">`
            )

            $('input[name="phone"]').on('keyup', () => {
              const phone = $('#phone').val();
              function isCorrectNumber(number) {

                return /(\+84|0[3|5|7|8|9])+([0-9]{9})\b/g.test(number)

              }
              if (!isCorrectNumber(phone)) {
                $('.error').html('Invalid number phone, try again ! Example: +84939568000.').addClass('notification is-danger')
                $('#sendOTP').prop("disabled", true);
              }
              else {
                $('.error').html('').removeClass('notification is-danger')
                $('#sendOTP').prop("disabled", false);

              }

            })





          }
        })




      });
    </script>

</body>

</html>