<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./ui/head.ejs') %>
</head>

<body>
    <%- include('./ui/navbar.ejs') %>
        <div class="page-title-nation">
            <div>
                <h1>Nation</h1>
                <form action="/nations/page" method="get">

                <div class="field has-addons">
                        <div class="control">
                            <input class="input is-success" autofocus name="searchValue" value="<%=searchValue%>"type="text" placeholder="Find a repository">
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-dark">
                                Search
                            </button>
                        </div>
                </div>
            </form>

            </div>

        </div>

        <div class="container-nations">

            <% nations.forEach(nation=> { %>
                <%- include('./component/card-nation.ejs', { nation }) %>
                    <% }) %>
        </div>


</body>


</html>